/* #root {
  max-width: 1700px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
 */

 /* In your CSS or styles file */
.clickable-icon {
  cursor: pointer;
  user-select: none;
  /* Add any other styles you want */
}
